{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}

<p>Nom:{{ produit.nom }}</p>
<p>Prix : {{ produit.prix }}</p>
<p>Quantité : {{ produit.quantité }}</p>
<p>Description : {{ produit.description }}</p>


{% endblock %}